<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍页面</title>
    <link type="text/css" rel="stylesheet" href="../css/books.css">
    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/books.js"></script>
</head>
<body>
<h1>书籍页面</h1>
<hr/>
<div id="tableDiv">
    <table id="table">
        <thead>
        <th id="bookId">
            书名
        </th>
        <th id="bookName">
            价格(元)
        </th>
        <th id="price">
            书籍类型
        </th>
        <th id="bookType">
            剩余数量
        </th>
        <th id="bookNums">
            是否删除/修改
        </th>
        </thead>
        <tbody id="books">

        </tbody>
    </table>
</div>

<input class="btn" type="button" value="删除">
<input class="btn" type="button" value="修改">


</body>
</html>